---
layout: page
title: Call for Papers
description: International Workshop on Formal Analysis and Verification of Post-Quantum Cryptographic Protocols 2023
background: '/img/2nd.jpg'
---

    <h3 id="workshop-scope">Topics of Interest</h3>
    <!-- <p>Topics of the workshop include the following, but are not limited to:</p> -->
    <p>Authors are invited to submit papers describing original and
      unpublished work somehow related to formal analysis and verification
      of post-quantum cryptographic protocols. Topics of interest include,
      but are not limited to:</p>
    <ul>
      <li>Post-quantum cryptosystems
      <li>Post-quantum cryptographic protocols</li>
      <li>Logics of quantum computing/algorithms/programs</li>
      <li>Formal analysis/verification of those related to the above-mentioned</li>
    </ul>
  
    <hr>

    <h3 id="publication">Publication</h3>
    <p><del style="text-decoration-style: double;">Proceedings shall be submitted to <a href="http://ceur-ws.org/" target="_blank" >CEUR-WS.org</a> for online publication.
      Therefore, authors are supposed to use the CEUR-ART template style for preparing papers. 
      From the <a href="http://ceur-ws.org/HOWTOSUBMIT.html#PREPARE" target="_blank">CEUR preparation guide</a>, authors can find and download the
      <a href="http://ceur-ws.org/Vol-XXX/CEURART.zip" target="_blank">CEUR-ART template style</a> (also available on <a href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/wqyfdgftmcfw" target="_blank">Overleaf</a>)</del>.
      
      Authors need to use the Latex 1-column style.
      
      In addition to regular papers (12 - 16 pages), authors are also recommended to
      submit short papers (6 - 8 pages), such as work-in-progress ones and
      tool demonstration ones. Papers submitted as regular papers may be
      accepted as short papers. 
    </p>
      
    <hr>
    
    <h3 id="paper-submission">Paper submissions</h3>
    <p>Submissions must be uploaded to the following EasyChair website: TBA
    <a href="https://easychair.org/conferences/?conf=favpqc2023" target="_blank">https://easychair.org/conferences/?conf=favpqc2023</a></p>
    <ul>
      <li>Paper submission due: <del>September 29</del> October 20, 2023</li>
      <li>Notification: <del>October 13</del> <del>November 3</del> November 10, 2023</li>
      <li>Camera-ready: <del>October 27</del> November 17, 2023</li>
    </ul>
    