---
layout: page
title: Committee
description: International Workshop on Formal Analysis and Verification of Post-Quantum Cryptographic Protocols 2023
background: '/img/2nd.jpg'
---

<div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Program Committee</h3>
    <ul>
        <li>Sedat Akleylek, Ondokuz Mayis University/University of Tartu, Turkey/Estonia (co-chair)</li>
        <li>Christophe Chareton, LORIA-CELLO, France</li>
        <li>Canh Minh Do, Japan Advanced Institute of Science and Technology, Japan</li>
        <li>Santiago Escobar, Universitat Politecnica de Valencia, Spain (co-chair)</li>
        <li>Daniel Gaina, Kyushu University, Japan</li>
        <!-- <li>Benjamin Lipp, Max Planck Institute for Security and Privacy (MPI-SP), Germany</li> -->
        <li>Catherine Meadows, Naval Research Laboratory, USA</li>
        <li>Paolo Modesti, Teesside University, UK</li>
        <li>Masaki Nakamura, Toyama Prefectural University, Japan</li>
        <li>Kazuhiro Ogata, Japan Advanced Institute of Science and Technology, Japan (co-chair)</li>
        <li>Ayoub Otmani, University of Rouen Normandie, France (co-chair)</li>
        <li>Adrian Riesco, Universidad Complutense de Madrid, Spain</li>
        <li>Min Zhang, East China Normal University, China</li>
    </ul>

    <hr>

    <h3 id="paper-submission">Organization Committee</h3>
    <ul>
        <li>Sedat Akleylek, Ondokuz Mayis University/University of Tartu, Turkey/Estonia</li>
        <li>Santiago Escobar, Universitat Politecnica de Valencia, Spain</li>
        <li>Kazuhiro Ogata, Japan Advanced Institute of Science and Technology, Japan</li>
        <li>Ayoub Otmani, University of Rouen Normandie, France</li>
    </ul>

    <hr>

    <h3 id="paper-submission">Publicity chair</h3>
    <ul>
        <li>Duong Dinh Tran, Japan Advanced Institute of Science and Technology, Japan</li>
    </ul>
</div>