---
layout: home
background: '/img/2nd.jpg'
---

<h3>The 2<sup>nd</sup> {{ site.description }}</h3>

<div>
    <p>
      An <a href="https://formal-analysis.com/icfem/2023/" target="_blank">ICFEM 2023</a>
      satellite workshop, Brisbane, Australia, November 21, 2023.
    </p>
  </div>

  <div style="margin-top: 1em;">
    <p>Post-quantum cryptographic protocols refer to those replacements of classical cryptographic protocols as a precaution against future attacks from quantum computers. This has been motivated by the fact that the public-key cryptosystems used today will be no longer secure under large-scale quantum computers, which are promisingly becoming available in the near future because of the huge research and development investment. Significant efforts have been spent to standardize post-quantum cryptographic primitives and protocols, especially after the Post-quantum Cryptography Standardization Project started by NIST 
      (<a href="https://csrc.nist.gov/projects/post-quantum-cryptography" target="_blank">https://csrc.nist.gov/projects/post-quantum-cryptography</a>).
    Therefore, security analysis/verification of those post-quantum cryptographic protocols is an important factor in the construction of the finally secure cryptosystems.
    </p>
    <p>Following the successful workshop last year in Spain, this year, the 2<sup>nd</sup> workshop will be held in Brisbane, Australia. See <a href="/call-for-papers.html">Call For Papers</a> for our invitation to submit papers.</p>
  </div>
  
  <hr>

  <div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Important dates</h3>
    
    <ul>
      <li>Paper submission due: <del>September 29</del> October 20, 2023</li>
      <li>Notification: <del>October 13</del> <del>November 3</del> November 10, 2023</li>
      <li>Camera-ready: <del>October 27</del> November 17, 2023</li>
    </ul>

    <hr>

    <h3 id="registration">Registration</h3>
    <p>Please find the registration information on the <a href="https://formal-analysis.com/icfem/2023/#register" target="_blank">ICFEM 2023 website</a>.
       Participants can choose to attend either only FAVPQC or both FAVPQC and ICFEM.
    </p>

    <p>Registration link for international participants:</br>
    <a href="https://app.secure.griffith.edu.au/griffithpay/icfem-2023-international-registrants.html" target="_blank">
      <button class="btn btn-primary" type="button">International registration</button>
    </a>
    </p>
    
    <p>Registration link for Australian participants:</br>
    <a href="https://app.secure.griffith.edu.au/griffithpay/icfem-2023-australian-registrants.html" target="_blank">
      <button class="btn btn-primary" type="button">Australian registration</button>
    </a>
    </p>
    <hr>

    <h3 id="news">News</h3>
    <ul>
      <li>2023/11/16: <a href="/program">Workshop program</a> is available.</li>
      <li>2023/11/9: Accepted papers announced.</li>
      <li>2023/09/28: Submission deadline is extended to October 20.</li>
      <li>2023/09/14: Registration information is available.</li>
      <li>2023/08/23: PC members are updated.</li>
      <li>2023/04/21: Website is created.</li>

    </ul>
    
  </div>