---
layout: page
title: Program
description: International Workshop on Formal Analysis and Verification of Post-Quantum Cryptographic Protocols 2023
background: '/img/2nd.jpg'
---

<h3 id="publication">Workshop Program</h3>
<table id="program">
  <tr>
    <th>Time</th>
    <th colspan="2">Content</th>
  </tr>
  <tr class="gray">
    <td>10:00&nbsp;-&nbsp;10:45</td>
    <td><b>Opening</b></td>
    <td>Kazuhiro Ogata.</br> 
      An overview of FAVPQC achievements.
      [<a class="paper-download" href="files/slides/0-ogata2023FAVPQC.pdf">slides</a>]
    </td>
  </tr>
  <tr class="large-padding">
    <td>10:45 - 11:15</td>
    <td colspan="2">Break</td>
  </tr>
  <tr class="gray">
    <td rowspan="3">11:15 - 12:15</td>
    <td colspan="2"><b>Session 1</b>: Formal specification and verification of post-quantum cryptographic protocols</td>
  </tr>
  <tr class="gray">
    <td>11:15 - 11:45</td>
    <td>Víctor García, Santiago Escobar and Kazuhiro Ogata.</br>
      Formal specification of the post-quantum signature scheme FALCON in Maude.
      [<a class="paper-download" href="files/papers/1-Victor.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/1-Victor.pdf">slides</a>]
    </td>
  </tr>
  <tr class="gray">
    <td>11:45 - 12:15</td>
    <td>Duong Dinh Tran, Kazuhiro Ogata and Santiago Escobar. </br>
      A formal analysis of OpenPGP's post-quantum public-key algorithm extension.
      [<a class="paper-download" href="files/papers/2-Duong.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/2-Duong.pdf">slides</a>]
    </td>
  </tr>
  <tr class="large-padding">
    <td>12:15 - 14:15</td>
    <td colspan="2">Lunch</td>
  </tr>
  <tr class="gray">
    <td rowspan="3">14:15 - 15:15</td>
    <td colspan="2"><b>Session 2</b>: Formal verification of quantum programs/circuits</td>
  </tr>
  <tr class="gray">
    <td>14:15 - 14:45</td>
    <td>Canh Minh Do, Tsubasa Takagi and Kazuhiro Ogata. </br>
      Automated Quantum Program Verification in Probabilistic Dynamic Quantum Logic.
      [<a class="paper-download" href="files/papers/3-Canh.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/3-Canh.pdf">slides</a>]
    </td>
  </tr>
  <tr class="gray">
    <td>14:45 - 15:15</td>
    <td>Canh Minh Do and Kazuhiro Ogata.</br>
      Symbolic Model Checking Quantum Circuits With Density Operators in Maude.
      [<a class="paper-download" href="files/papers/4-Canh.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/4-Canh.pdf">slides</a>]
    </td>
  </tr>
  <tr class="large-padding">
    <td>15:15 - 15:45</td>
    <td colspan="2">Break</td>
  </tr>
  <tr class="gray">
    <td rowspan="3">15:45 - 16:45</td>
    <td colspan="2"><b>Session 3</b>: Foundation of quantum programs/circuits from verification</td>
  </tr>
  <tr class="gray">
    <td>15:45 - 16:15</td>
    <td>Tsubasa Takagi, Canh Minh Do and Kazuhiro Ogata. </br>
      Reachability Analysis of the Equivalence of Two Terms in Free Orthomodular Lattices.
      [<a class="paper-download" href="files/papers/5-Tsubasa.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/5-Tsubasa.pdf">slides</a>]
    </td>
  </tr>
  <tr class="gray">
    <td>16:15 - 16:45</td>
    <td>Canh Minh Do and Kazuhiro Ogata. </br>
      Theoretical Foundation for Equivalence Checking of Quantum Circuits.
      [<a class="paper-download" href="files/papers/6-Canh.pdf">paper</a>]
      [<a class="paper-download" href="files/slides/6-Canh.pdf">slides</a>]
    </td>
  </tr>
  <tr class="large-padding">
    <td>16:45 - 17:00</td>
    <td colspan="2">Closing</td>
  </tr>
</table>
