---
layout: page
title: Sponsors
description: International Workshop on Formal Analysis and Verification of Post-Quantum Cryptographic Protocols 2023
background: '/img/2nd.jpg'
---

<div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Sponsors</h3>
<ul>
    <li>France: National Centre for Scientific Research (CNRS)</li>
    <li>Japan: Japan Science and Technology Agency (JST)</li>
    <li>Spain: Agencia Estatal de Investigación (AEI) -  State Research Agency</li>
    <li>Turkey: The Scientific and Technological Research Council of Turkey (TUBITAK)</li>
    <li><del style="text-decoration-style: double;">CEUR Workshop Proceedings (CEUR-WS.org)</del></li>
  </ul>
</div>