---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

p.attribution{
    color:white;
    // font-size: small;
}
footer {
    padding: 10px 0 25px;
}
footer p.copyright {
    margin-top: 10px;
}
p{
    text-align: justify;
}

/* If the screen size is 577px wide or more*/
@media screen and (min-width: 577px) {
p.attribution {
    font-size: small;
}
}
  
/* If the screen size is 576px wide or less*/
@media screen and (max-width: 576px) {
p.attribution {
    font-size:xx-small;
}
}

#program {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 32px;
  }
  
  #program td, #program th {
    border: 1px solid #ddd;
    padding: 2px 7px;
  }
  
  #program tr.gray{background-color: #f2f2f2;}
  #program tr.large-padding td{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #program th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0085A1;
    color: white;
  }