---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">The 2<sup>nd</sup> {{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <p class="attribution">Brisbane. Photo by Martin on Unsplash</p>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}


      </div>
    </div>
  </div>
